mixin contact(name, status, avatar)
  a(href="#").contact.d-flex.align-items-center
    img(src= avatar).contact-avatar
    span.contact-info.d-block
      span.contact-name.d-block= name
      small.contact-status.d-block= status