mixin contact(name, status, avatar)
  a(href="#").contact.d-flex.align-items-center
    img(src= avatar).contact-avatar
    span.flex-grow-1.p-4
      span.contact-name.d-block=name
      small.contact-status.d-block=status