mixin nav-link(id, name, title, selected)
  li(role="presentation").nav-item
    a(id=id class="icon-"+name href="#"+name data-toggle="tab" role="tab" aria-controls=name aria-selected=selected)(class!=attributes.class).nav-link=title