mixin send(placeholder)
  form.border-top.bg-white.d-flex.justify-content-beetwen.align-items-center.py-1
    input(type="text" placeholder=placeholder).form-control-plaintext.flex-grow-1.px-4.py-3.bg-white
    button(type="button").btn.btn-primary.square-50.rounded-circle
      +icon("cursor")(class="filter-invert-100 square-20")