mixin send(placeholder)
  form.form-group.border-top.bg-white.d-flex.justify-content-beetwen.align-items-center.py-3
    input(type="text" placeholder=placeholder).form-control-plaintext.flex-grow-1.px-4.py-3.bg-white.line-height-19
    button(type="button").btn.btn-primary.square-50.rounded-circle.mr-3
      +icon("cursor")(class="filter-invert-100 square-20")