body,
html {
  height: 100vh;
}

body {
  background-color: $body-bg;
}

section.main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

main {
  margin-right: calc(1.5rem - 15px);
  margin-left: calc(1.5rem - 15px);
  background-color: $white;
  border-radius: 1rem;
}

.left-side {
  .content {
    padding-top: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.right-side {
  border-left: 1px solid $grey;
}
