body {
  color: $dark;
  background-color: $body-bg;
}

main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  @include media-breakpoint-down(md) {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
  }
}

section {
  margin-right: calc(1.5rem - 15px);
  margin-left: calc(1.5rem - 15px);
  background-color: $white;
  border-radius: 1rem;

  @include media-breakpoint-down(md) {
    margin: 0 !important;
    border-radius: 0 !important;
  }
}

.right-side {
  border-left: 1px solid $grey;
}

.hide-scrollbar {

  @include hide-scrollbar();
}

.filter-invert-100 {
  filter: invert(100%);
}

.opacity-50 {
  opacity: 50%;
}

.width-50 {
  width: 50px;
}

.height-50 {
  height: 50px;
}

.width-90 {
  width: 90px;
}

.height-90 {
  height: 90px;
}

.width-200 {
  width: 200px;
}

.height-200 {
  height: 200px;
}

.text-ellipsis {
  text-overflow: ellipsis;
}
