$chat: ".chat";

.chats {
  .chat {

    @include box-shadow($box-shadow);

    &-name {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    @include hover-focus() {
      text-decoration: none;
      background-color: $primary;

      #{$chat} {
        &-name {
          color: $light !important;
        }

        &-description {
          color: $grey !important;
        }
      }
    }
  }
}
