.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chat {
	font-size:(1/10)*1rem;
	width:(1/1)*1em;
}

.icon-chat-left-text {
	font-size:(1/10)*1rem;
	width:(1/1)*1em;
}

.icon-cursor {
	font-size:(1/10)*1rem;
	width:(1/1)*1em;
}

.icon-envelope {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}

.icon-globe {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}

.icon-logo {
	font-size:(267.55/10)*1rem;
	width:(157.33/267.55)*1em;
}

.icon-people {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}

.icon-person {
	font-size:(1/10)*1rem;
	width:(1/1)*1em;
}

.icon-telephone {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}

