extends ../layout/main

block variables
  -var pageTitle = "Мессенджер «Hexlet Chat» | Главная"
  -var youAreUsingPug = true

block left-side
  include ../modules/contacts

block right-side
  div.d-flex.justify-content-center.align-items-center.flex-column.h-100
    img(src="./images/avatar_1.jpg" alt="").rounded-circle.mb-3
    span.font-weight-bold Привет, Кодовёнок
    small.text-secondary Выбери чат, чтобы начать общаться