block variables

doctype html
html(lang="en")
  head
    title= pageTitle
  body
    header
      p.
        Шапка сайта, меню сайта, логотип,
        Контактные данные
    main
      block main
    footer
      p Футер
